  <head>
    {% if page.title %}
      <title>{{ page.title }} | Test Page</title>
    {% else %}
      <title>Test Page: Don't Panic</title>
    {% endif %}
    <link href="/favicon.png" rel="icon">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Raleway:100&display=swap"
    rel="stylesheet">
    <link rel="stylesheet"
          href="/fonts/fontawesome-free-5.13.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
