  <head>
    {% if page.title %}
      <title>{{ page.title }} | Test Page</title>
      <meta property="og:title" content="{{ page.title }}">
    {% else %}
      <title>Test Page: Don't Panic</title>
      <meta property="og:title" content="Test Page: Don't Panic">
    {% endif %}
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta property="og:description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="This is a dangerous site.">
      <meta name="og:description" content="This is a dangerous site.">
    {% endif %}
    <link href="/favicon.png" rel="icon">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans|Raleway:100&display=swap"
    rel="stylesheet">
    <link rel="stylesheet"
          href="/fonts/fontawesome-free-5.13.0-web/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
